.ms_create_body{
    background-image: url('https://images7.alphacoders.com/114/1144579.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 111;
.my_wrapper_form{
    background-color: rgba($color: #000000, $alpha: 0.5);
    border-radius: 10px;
    padding: 20px;
    h2{
        font-size: 50px;
        color: white;
       }
        label{
            font-size: 30px;
            font-weight: 700;
           display: flex;
           justify-content: center;
            color: aqua;
        }
input,textarea{
font-weight: 400;
font-size: 25px;
}

        .my_alert{
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: rgba($color: red, $alpha: 0.8);
      padding: 5px;
      border-radius: 10px;
      color: white;
      font-size: 16px;
      font-weight: 500;
      animation-name: bounce;
      animation-duration: .5s;
      animation-delay: 0.25s;

    @keyframes bounce {
        0% {
          transform: translateX(0px);
          timing-function: ease-in;
        }
        37% {
          transform: translateX(5px);
          timing-function: ease-out;
        }
        55% {
          transform: translateX(-5px);
          timing-function: ease-in;
        }
        73% {
          transform: translateX(4px);
          timing-function: ease-out;
        }
        82% {
          transform: translateX(-4px);
          timing-function: ease-in;
        }
        91% {
          transform: translateX(2px);
          timing-function: ease-out;
        }
        96% {
          transform: translateX(-2px);
          timing-function: ease-in;
        }
        100% {
          transform: translateX(0px);
          timing-function: ease-in;
        }
    }
    }
        .is-invalid{
            position: relative;
            width: 100%;
            border:2px color red;
            color: white;
            background-color: rgba($color: rgb(220, 87, 87), $alpha: 0.1);

        }
}
  
}

.bg_edit{
  background-image: url('https://wallpapers.com/images/featured/dc-superheroes-s58k3rnawetsiiqh.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 111;

}